@model Sondage_Project.Data.Models.Sondage

@{
    ViewData["Title"] = "Details";
}

<h1>Résultats</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Question :
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Question)
        </dd>
        <dt class = "col-sm-2">
            Réponse 1 :
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Answer_1) | Nombre de votes : (@Html.DisplayFor(model => model.Counter_1))
        </dd>
        @if (!string.IsNullOrEmpty(@Model.Answer_2))
        {
            <dt class = "col-sm-2">
            Réponse 2 :
            </dt>
            <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Answer_2) | Nombre de votes : (@Html.DisplayFor(model => model.Counter_2))
            </dd>
        }

        @if (!string.IsNullOrEmpty(@Model.Answer_3))
        {
            <dt class = "col-sm-2">
            Réponse 3 :
            </dt>
            <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Answer_3) | Nombre de votes : (@Html.DisplayFor(model => model.Counter_3))
            </dd>
        }

        @if (!string.IsNullOrEmpty(@Model.Answer_4))
        {
            <dt class = "col-sm-2">
            Réponse 4 :
            </dt>
            <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Answer_4) | Nombre de votes : (@Html.DisplayFor(model => model.Counter_4))
            </dd>
        }
        </dl>
        
</div>
<div>
    <a asp-action="Index">Retour à la liste</a>
</div>
