@model Sondage_Project.Data.Models.Sondage

@{
    ViewData["Title"] = "Details";
}

<h1>Résultats</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Question :
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Question)
        </dd>
        <dt class = "col-sm-2">
            Réponse 1 :
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Answer_1)
        </dd>
        <dt class = "col-sm-2">
            Réponse 2 :
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Answer_2)
        </dd>
        <dt class = "col-sm-2">
            Réponse 3 :
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Answer_3)
        </dd>
        <dt class = "col-sm-2">
            Réponse 4 :
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Answer_4)
        </dd>
        <dt class = "col-sm-2">
            Résultats réponse 1 :
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Counter_1)
        </dd>
        <dt class = "col-sm-2">
            Résultats réponse 2 :
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Counter_2)
        </dd>
        <dt class = "col-sm-2">
            Résultats réponse 3 :
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Counter_3)
        </dd>
        <dt class = "col-sm-2">
            Résultats réponse 4 :
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Counter_4)
        </dd>
        </dl>
</div>
<div>
    <!-- <a asp-action="Answer" asp-route-id="@Model.SondageId">Répondre</a> -->
    <a asp-action="Index">Retour à la liste</a>
</div>
