@model Sondage_Project.Data.Models.Sondage

@{
    ViewData["Title"] = "Manual";
    ViewData["Link"] = "https://localhost:44325";
}

<h1>Manual</h1>

<div class ="row">
    <div class = "container-fluid">
        <div class = "col-xl-4">
            <p>ATTENTION : ce lien est à conserver précieusement. Si vous quitter cette page, vous ny aurez plus accès par la suite. <br />
                Cliquer sur ce lien va entrainer la cloture du sondage. Il sera donc impossible d'y participer par la suite.<br />
                </p>
            <p>Cloture du sondage :</p>
            <a asp-action="DisableLinks" asp-route-id="@Model.SondageId">Cloture</a>
        </div>
        
        @if (@Model.IsActivated)
        {
            <div class = "col-xl-4">
            <p>Pour que les gens accèdent le plus facilement possible au sondage, il est conseillé de partager ce lien par mail.</p>
            <p>Accéder a la page de vote : </p>
            <a asp-action="Answer" asp-route-id="@Model.SondageId">Vote</a> <p>Lien du vote : @ViewData["Link"]@this.Url.Action("Answer", "Sondages")/@Model.SondageId</p>
            </div>
        }
            
        <div class = "col-xl-4">
            <p>Cliquer sur ce lien pour accéder au résultats du sondage : </p>
            <a asp-action="Details" asp-route-id="@Model.SondageId">Résultat</a>
        </div>
    </div>
</div>